!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %title Katie Harron's Boilerplate

    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = stylesheet_tag "styles"

    %meta(name="description" content="")
    %meta(name="keywords" content="")
    %meta(name="robots" content="index,follow")

    %link(href="#{image_path 'favicon.ico'}" rel="shortcut icon")
    %link(href="#{image_path 'apple-touch-icon-precomposed.png'}" rel="apple-touch-icon")
    %link(href="/humans.txt" rel="author")
    %link(href="" rel="canonical")

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  %body
    %header.header(role="banner")
      .wrapper
        .row
          %nav.header__nav(role="navigation")
            %ul
              %li
                %a(href="#") Menu Item
              %li
                %a(href="#") Menu Item

    %main.main(role="main")
      .wrapper
        .row
          %article.main__content
            %h1 Page Title
            %p Adipisicing consequatur quae aut ea soluta, quasi in a nostrum culpa! Obcaecati deserunt minima suscipit consectetur ut quibusdam. Voluptatem odio ratione et doloremque excepturi vel illum. Commodi aliquid libero consequuntur?
            %p
              %img(src="#{image_path "katie-harron-logo_sq.jpg"}")

            %h2 Page Heading
            %p Sit libero iure quaerat aliquam modi! Vero sed ducimus dolorem harum eius et adipisci. Cupiditate autem nisi nobis tempore provident! Quae provident a voluptas cum laboriosam ut totam? Reprehenderit a.
            %ul
              %li Item 1
              %li Item 2
              %li Item 3
            %p Consectetur quas tenetur temporibus atque delectus. Amet eos ab nisi repellat doloribus saepe illo a facere cumque minima! Omnis delectus quasi natus sunt repudiandae animi. Maxime odio delectus modi asperiores.

          %aside.main__related(role="complementary")
            %h2 Related Content
            %p Amet est reiciendis laboriosam nemo incidunt tempore ipsam numquam molestiae tempore illum quod? Ea laborum sapiente dicta quaerat provident! Atque pariatur suscipit provident harum ullam! Maxime beatae deserunt atque aut!

    %footer.footer(role="contentinfo")
      .wrapper
        .row
          .footer__content
            %p Copyright 2015

    = javascript_tag "app", :expand => true

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  -#
    :javascript
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-XXXXX-X');ga('send','pageview');
