!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %title= current_page.data.title || "Boilerplate"

    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = stylesheet_link_tag "app"

    %meta(name="description" content="")
    %meta(name="keywords" content="")
    %meta(name="robots" content="index,follow")

    = favicon_tag "favicon.ico"
    %link(href="#{image_path 'apple-touch-icon-precomposed.png'}" rel="apple-touch-icon")
    %link(href="/humans.txt" rel="author")
    %link(href="" rel="canonical")

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  %body(class="#{page_classes}")
    %header.header(role="banner")
      .wrapper
        .row
          %nav.header__nav(role="navigation")
            %ul
              %li
                %a(href="#") Menu Item
              %li
                %a(href="#") Menu Item

    %main.main(role="main")
      .wrapper
        .row
          = yield

    %footer.footer(role="contentinfo")
      .wrapper
        .row
          .footer__content
            %p Copyright 2015

    -#= javascript_include_tag "app"
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  -#
    :javascript
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-XXXXX-X');ga('send','pageview');
